@model Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableBusinessSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableBusinessSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableEconomySeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableEconomySeats)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-dark btn-sm" asp-action="Index">Back to List</a>
</div>
