@model Flight

@{
    ViewData["Title"] = "Edit";
    var users = ViewData["Users"] as IEnumerable<User>;
    var planes = ViewData["Planes"] as IEnumerable<Plane>;
}

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PilotId" class="control-label"></label>
                <select asp-for="PilotId" class="form-control">
                    @foreach (var user in users)
                    {
        <option value="@user.Id">@user.FirstName @user.LastName</option>}
                </select>
                <span asp-validation-for="PilotId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PlaneId" class="control-label"></label>
                <select asp-for="PlaneId" class="form-control">
                    @foreach (var plane in planes)
                    {
        <option value="@plane.Id">@plane.Id</option>}
                </select>
                <span asp-validation-for="PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessPrice" class="control-label"></label>
                <input asp-for="BusinessPrice" class="form-control" />
                <span asp-validation-for="BusinessPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyPrice" class="control-label"></label>
                <input asp-for="EconomyPrice" class="form-control" />
                <span asp-validation-for="EconomyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark btn-sm" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
